form.kifistats-statistics-form > fieldset {
  display: inline-block;
  vertical-align: top;
  min-height: 6em;
  margin-top: 0;
  margin-bottom: 9px;
  padding-bottom: 5px;
}

form.kifistats-statistics-form {
  #edit-year {
    min-width: 8em;
  }
}
