/* line 2, ../scss/question-form-header.scss */
.reserve-question-header {
  position: relative;
}
/* line 4, ../scss/question-form-header.scss */
.reserve-question-header input.form-submit {
  position: absolute;
  right: 0;
  top: 13px;
}
